Flask==3.1.0
tensorflow==2.18.0
keras==3.7.0
gunicorn==23.0.0
numpy==2.0.2
h5py==3.12.1
pillow==11.0.0
tensorboard==2.18.0
requests==2.28.1
waitress==3.0.2
opencv-python-headless==4.8.0.74
flask-caching==1.11.1
